h1 {
  text-align:        center;
}

hr {
  width:             50%;
  margin-top:        3em;
}

span.highlight {
  background:        yellow;
  font-style:        italic;
  padding-left:      0.5em;
  padding-right:     0.5em;
}

div.chart {
  display:           inline-block;
  width:             45%;
  text-align:        center;
  vertical-align:    top;
  margin-bottom:     2em;
  page-break-inside: avoid;
}

div.chart_group {
  page-break-inside: avoid;
}
